<nav>
    <ul class="pagination">

        {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?{{ page_obj.previous_page_number.querystring }}"
                   class="page-link" aria-label="Previous">
                    <span>&lsaquo;&lsaquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">&lsaquo;&lsaquo;</span>
            </li>
        {% endif %}

        {% for page in page_obj.pages %}
            {% if page %}
                {% ifequal page page_obj.number %}
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">{{ page }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="?{{ page.querystring }}" class="page-link"
                           aria-label="Previous">
                            <span aria-hidden="true">{{ page }}</span>
                        </a>
                    </li>
                {% endifequal %}
            {% else %}
                <li class="page-item">
                    <span class="page-link disabled">...</span>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?{{ page_obj.next_page_number.querystring }}"
                   class="page-link" aria-label="Next">
                    <span>&rsaquo;&rsaquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">&rsaquo;&rsaquo;</span>
            </li>
        {% endif %}
    </ul>
</nav>